body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: blue;
}

.container {
  max-width: 400px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8%;
  background-color: white;
}

.form {
  margin-top: 15px;
}

.form label {
  display: block;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.btn {
  background-color: rgb(55, 91, 250);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
